* {
    background-color: rgb(255, 240, 252);
}
h1{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    color : rgb(2, 11, 52);
}

.myPersonality{
    font-family: cursive;
    color : rgb(54, 8, 54)
}
h2{
    color :rgb(24, 12, 7)
}
.myClass{
    text-decoration: none;
    font-family: monospace;
    color : rgb(32, 4, 4)
}
.theMovies{
    font-family: cursive;
    color :rgb(58, 44, 7)
}
#theFavourite{
    color: brown;
    font-family: monospace;
}
#theHappy{
    height: 10vw;
    width : 15vw;
    
}
#theSad{
    height : 10vw;
    width :  10vw;
}
#theHtmlChecker{
    width : 5vw;
    width : 8vw;
}
#theCssChecker{
    width: 5vw;
    width: 8vw;
}
.thelink{
    text-decoration: none;
    color :blue;
    font-family: monospace;
}
